#about {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #000000;
  font-family: "Comic Sans MS";
}

.AboutTitle {
  color: #000000;
  font-family: "Comic Sans MS";
  font-size: xx-large;
}

.AboutDescription {
  color: #000000;
  font-family: "Comic Sans MS";
  font-size: large;
}

.link {
  font-family: "Comic Sans MS";
}

.link:hover {
  filter: drop-shadow(0 0 1em #5353ffaa);
}

.link.react:hover {
  filter: drop-shadow(0 0 1em #5353ffaa);
}
