h1{
    text-align: center;
}

p{
    text-align: center;
    font-size: x-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

a{
    text-align: center;
    font-size: x-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.div1{
    text-align: center;
}